html
  head
    title Werewolves are the tits!
    script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/superagent/1.2.0/superagent.js")

  body
    h1 Werewolves are the tits!

    a(href="/")#home Home
    a(href="/faq")#faq FAQ
    a(href="/about")#about About

    section#content
      h3= title
      p= body
      if image
        img(src=image)
  
    script(type="text/javascript", src="app.js")
   
